.itemsIcon,
.logoIcon,
.ovalsIcon {
  position: relative;
  width: 34px;
  height: 6px;
  flex-shrink: 0;
}
.itemsIcon,
.logoIcon {
  width: 24px;
  height: 26px;
}
.itemsIcon {
  width: 48px;
  height: 407px;
}
.logoParent,
.sidebaritems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}
.sidebaritems {
  gap: 40px;
}
.icon {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0.5;
}
.sidebar,
.sidebaritemsParent {
  align-self: stretch;
  display: flex;
}
.sidebaritemsParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebar {
  background-color: #1c1d22;
  width: 110px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: 34px 31px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.image1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 116px;
}
.icon2,
.team {
  position: absolute;
}
.icon2 {
  top: 3px;
  left: 256px;
  width: 6px;
  height: 10px;
}
.team {
  top: 0;
  left: 0;
  line-height: 100%;
}
.item {
  position: relative;
  width: 261px;
  height: 16px;
  flex-shrink: 0;
}
.uxResearch {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.item2,
.item3,
.item4 {
  position: absolute;
  top: 138px;
  left: 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  padding: 10px 18px;
  align-items: flex-start;
  justify-content: flex-start;
}
.item3,
.item4 {
  top: 92px;
}
.item4 {
  top: 46px;
  background-color: rgba(28, 29, 34, 0.04);
  color: #1c1d22;
}
.allProjects3 {
  position: relative;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  font-family: "Exo 2";
  color: rgba(28, 29, 34, 0.5);
  text-align: left;
}
.allProjects3:hover {
  color: rgba(0, 0, 0, 0.5);
}
.item5 {
  cursor: pointer;
  border: 0;
  padding: 10px 18px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.item5:hover {
  mix-blend-mode: normal;
  background-color: #f6f6f6;
}
.icon3,
.items1,
.linesIcon,
.sub,
.title1 {
  position: absolute;
  top: 0;
  left: 23px;
  width: 145px;
  height: 174px;
}
.icon3,
.linesIcon,
.sub,
.title1 {
  left: -1px;
  width: 16px;
}
.icon3,
.sub,
.title1 {
  top: 32px;
  left: 1px;
  width: 168px;
}
.icon3,
.title1 {
  top: 5px;
  left: 252px;
  width: 10px;
  height: 6px;
}
.title1 {
  top: 0;
  left: 0;
  width: 261px;
  height: 16px;
  color: #1c1d22;
}
.item1 {
  position: relative;
  width: 261px;
  height: 206px;
  flex-shrink: 0;
}
.item8,
.item9 {
  position: absolute;
  left: 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  padding: 10px 18px;
  align-items: flex-start;
  justify-content: flex-start;
}
.item8 {
  top: 92px;
  background-color: rgba(28, 29, 34, 0.04);
  color: #1c1d22;
}
.item9 {
  top: 46px;
}
.item10,
.items2,
.sub1 {
  position: absolute;
  top: 0;
}
.item10 {
  left: 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  padding: 10px 18px;
  align-items: flex-start;
  justify-content: flex-start;
}
.items2,
.sub1 {
  left: 23px;
  width: 146px;
  height: 174px;
}
.sub1 {
  top: 32px;
  left: 1px;
  width: 169px;
}
.items,
.titleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.items {
  gap: 28px;
  font-size: 16px;
  color: rgba(28, 29, 34, 0.5);
}
.titleParent {
  gap: 38px;
}
.box {
  top: 0;
  left: 0;
  border-radius: 18px;
  width: 127px;
  height: 34px;
}
.box,
.dark,
.icon7 {
  position: absolute;
}
.dark {
  top: 3px;
  left: 26px;
  line-height: 100%;
  font-weight: 600;
}
.icon7 {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  opacity: 0.5;
}
.box1,
.content,
.item13 {
  position: absolute;
  top: 7px;
  left: 35px;
  width: 57px;
  height: 20px;
}
.box1,
.item13 {
  top: 0;
  left: 127px;
  width: 127px;
  height: 34px;
}
.box1 {
  left: 0;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 8px 6px rgba(28, 29, 34, 0.06);
}
.content1,
.icon8,
.item14 {
  position: absolute;
  height: 20px;
}
.icon8 {
  top: 0;
  left: 0;
  width: 20px;
  overflow: hidden;
}
.content1,
.item14 {
  top: 7px;
  left: 34px;
  width: 59px;
}
.item14 {
  top: 0;
  left: 0;
  width: 127px;
  height: 34px;
  color: #1c1d22;
}
.items3 {
  position: relative;
  width: 254px;
  height: 34px;
  flex-shrink: 0;
}
.mode {
  border-radius: 22px;
  background-color: rgba(28, 29, 34, 0.04);
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.mode,
.modeWrapper,
.projects {
  display: flex;
  flex-direction: column;
}
.modeWrapper {
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: rgba(28, 29, 34, 0.5);
}
.projects {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 40px 180px 80px rgba(28, 29, 34, 0.06);
  width: 318px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 18px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.welcomeBackNico {
  position: relative;
  line-height: 100%;
}
.profileIcon {
  top: 0;
  left: 233px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.icon9,
.may2022,
.profileIcon {
  position: absolute;
}
.may2022 {
  top: 3px;
  left: 30px;
  line-height: 100%;
  font-weight: 600;
}
.icon9 {
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.calender,
.notificationsIcon,
.searchIcon {
  position: absolute;
  top: 7px;
  left: 88px;
  width: 123px;
  height: 22px;
}
.notificationsIcon,
.searchIcon {
  left: 44px;
  width: 22px;
}
.searchIcon {
  left: 0;
  overflow: hidden;
}
.right {
  position: relative;
  width: 269px;
  height: 36px;
  flex-shrink: 0;
  font-size: 16px;
  color: rgba(28, 29, 34, 0.5);
}
.content2 {
  align-self: stretch;
  height: 65px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px 21px 8px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.borderIcon {
  position: absolute;
  top: 35px;
  left: 0;
  width: 137px;
  height: 2px;
}
.boardView {
  position: absolute;
  top: 5.56%;
  left: 23.85%;
  line-height: 100%;
  font-weight: 600;
}
.content3,
.icon10 {
  position: absolute;
  top: 0;
}
.icon10 {
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.content3 {
  height: 50%;
  width: 79.56%;
  right: 10.22%;
  bottom: 50%;
  left: 10.22%;
}
.item15 {
  position: relative;
  width: 137px;
  height: 36px;
  flex-shrink: 0;
}
.borderIcon1 {
  position: absolute;
  top: 36px;
  left: 137px;
  width: 122px;
  height: 0;
}
.addView {
  position: absolute;
  top: 5.56%;
  left: 27.66%;
  line-height: 100%;
  font-weight: 600;
}
.content4,
.icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.content4 {
  height: 50%;
  width: 77.05%;
  right: 11.48%;
  bottom: 50%;
  left: 11.48%;
}
.item16 {
  position: relative;
  width: 122px;
  height: 36px;
  flex-shrink: 0;
  color: rgba(28, 29, 34, 0.5);
}
.items4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.moreIcon,
.sort {
  position: relative;
}
.sort {
  line-height: 100%;
  font-weight: 600;
  color: rgba(28, 29, 34, 0.5);
}
.moreIcon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.button,
.menu,
.right1 {
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: 19px;
  background-color: #1c1d22;
  overflow: hidden;
  padding: 12px 24px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #fff;
}
.menu,
.right1 {
  align-items: center;
}
.right1 {
  justify-content: flex-start;
  gap: 16px;
}
.menu {
  align-self: stretch;
  padding: 16px 21px 16px 0;
  justify-content: space-between;
  font-size: 16px;
}
.addNewTask,
.toDo41 {
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  height: 13.67px;
}
.toDo41 {
  position: relative;
  width: 57px;
  flex-shrink: 0;
}
.addNewTask {
  position: absolute;
  top: 1.95px;
  left: 24px;
  width: 87px;
}
.add,
.icon12 {
  height: 17.57px;
}
.icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
}
.add {
  position: relative;
  width: 111px;
  flex-shrink: 0;
  color: #1c1d22;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(28, 29, 34, 0.5);
}
.designNewUi,
.dribbbleMarketing {
  position: relative;
  line-height: 100%;
}
.designNewUi {
  align-self: stretch;
}
.dribbbleMarketing {
  font-size: 14px;
  font-weight: 500;
  color: rgba(28, 29, 34, 0.5);
}
.title3,
.top1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title3 {
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.top1 {
  align-self: stretch;
  flex-direction: row;
  font-size: 16px;
}
.icon13,
.progress1 {
  position: relative;
  flex-shrink: 0;
}
.icon13 {
  width: 18.53px;
  height: 16px;
  overflow: hidden;
  opacity: 0.5;
}
.progress1 {
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  width: 68.34px;
}
.title4 {
  width: 91.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.div {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  color: #1c1d22;
  text-align: right;
  display: inline-block;
  width: 30.38px;
  flex-shrink: 0;
}
.top2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box2,
.fill {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}
.box2 {
  width: 100%;
  right: 0;
  background-color: rgba(28, 29, 34, 0.08);
}
.fill {
  width: 70%;
  right: 30%;
  background-color: #ffa048;
}
.slider {
  align-self: stretch;
  position: relative;
  height: 4px;
  flex-shrink: 0;
}
.date,
.progress {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress {
  align-self: stretch;
  flex-direction: column;
  gap: 10px;
  color: rgba(28, 29, 34, 0.5);
}
.date {
  border-radius: 17px;
  background-color: rgba(136, 141, 167, 0.1);
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
}
.div1,
.icon14 {
  position: absolute;
}
.div1 {
  top: 11.11%;
  left: 73.33%;
  line-height: 100%;
  font-weight: 600;
}
.icon14 {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
  opacity: 0.5;
}
.attach {
  height: 100%;
  width: 42.25%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 57.75%;
}
.attach,
.comment,
.div2 {
  position: absolute;
}
.div2 {
  top: 11.11%;
  left: 75.86%;
  line-height: 100%;
  font-weight: 600;
}
.comment {
  height: 100%;
  width: 40.85%;
  top: 0;
  right: 59.15%;
  bottom: 0;
  left: 0;
}
.right2 {
  position: relative;
  width: 71px;
  height: 18px;
  flex-shrink: 0;
  color: rgba(28, 29, 34, 0.5);
  font-family: "Baloo 2";
}
.bottom,
.topParent {
  align-self: stretch;
  display: flex;
}
.bottom {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #888da7;
}
.topParent {
  justify-content: flex-start;
  gap: 21px;
}
.task,
.tasks1,
.topParent {
  flex-direction: column;
  align-items: flex-start;
}
.task {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  border: 2px solid rgba(28, 29, 34, 0.06);
  display: flex;
  padding: 15px 16px;
  justify-content: flex-start;
}
.tasks1 {
  height: 173.79px;
  flex-shrink: 0;
}
.kanbanscontainer,
.tasks1,
.toDo {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.toDo {
  background-color: #fff;
  border: 2px dashed #ededed;
  box-sizing: border-box;
  width: 313px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 21px 20px;
  align-items: flex-start;
  gap: 16px;
}
.kanbanscontainer {
  flex: 1;
  overflow: scroll;
  flex-direction: row;
  padding: 8px 0;
  align-items: center;
  gap: 13px;
  font-size: 14px;
}
.kanban {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 21px 26px;
  gap: 10px;
  font-size: 20px;
}
.kanban,
.lightMode,
.todoDashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lightMode {
  align-self: stretch;
  background-color: #fff;
  height: 1031px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
}
.todoDashboard {
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: 30px;
  color: #1c1d22;
  font-family: "Exo 2";
}
